<div class="d-flex justify-content-between align-items-end p-3 dark">
    <strong class="align-items-start">{{ roomName }}</strong>

    <div>
        <span class="material-symbols-rounded central-button" (click)="toggleVideo()">{{videoEnabled? 'videocam' :
            'videocam_off'}}</span>
        <span class="material-symbols-rounded central-button" (click)="toggleAudio()">{{audioEnabled? 'mic' : 'mic_off'}}</span>
        <!-- <span class="material-symbols-rounded central-button" *ngIf="!(isSharingScreen$ | async)"
            (click)="startScreenShare.emit()">present_to_all</span>
        <span class="material-symbols-rounded central-button" *ngIf="isSharingScreen$ | async"
            (click)="stopScreenShare.emit()">pause_presentation</span> -->

        <span class="material-symbols-rounded central-button" (click)="leaveCall.emit()">logout</span>

    </div>

    <div>
        <span class="material-symbols-rounded" (click)="showUsersPanel.emit(true)">group</span>
    </div>

</div>