<header class="d-flex">
  <li>
    <a routerLink="/sfu/room1" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a>
  </li>
  <li>
    <a routerLink="/sfu/room2" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a>
  </li>
  <li>
    <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
  </li>
</header>

<main class="main">
  <div class="input-combined">
    <span class="material-symbols-outlined input-icon" style="color: #FFF; " (click)="createConf.focus()">video_call</span>
    <button #createConf (click)="createNewConference()" class="create-btn">Create New Conference</button>
  </div>

  <div class="input-combined">
    <span class="material-symbols-outlined input-icon" (click)="roomname.focus()">keyboard</span>
    <input type="text" #roomname [(ngModel)]="roomName" placeholder="Enter room name" class="form-control py-2"
      style="width: 300px" />
  </div>

  <button (click)="joinConference()" [disabled]="!roomName.length" class="join-btn">
    Join Conference
  </button>
</main>

<!-- Button to create a new room -->