<div class="container-fluid meetroom-container">
  <h1 class="text-center my-3">Meetroom Videoconference</h1>

  <!-- Grid for participants' videos -->
  <div class="participants-grid row gx-2 gy-2">
    <!-- <div class="col-6 col-md-4 col-lg-3" *ngFor="let participant of participants">
      <video 
        [id]="participant.id" 
        class="participant-video" 
        autoplay 
        playsinline
        #videoElement>
      </video>
    </div> -->
    <app-participant *ngFor="let participant of participants" [stream]="participant.stream"></app-participant>
  </div>

  <!-- Local video pinned at the bottom right -->
  <div class="local-video-container">
    <video id="localVideo" class="local-video" autoplay playsinline muted></video>
  </div>
</div>