<div class="d-flex flex-row bg-dark text-white h-100">

  <div class="main-content d-flex flex-column flex-grow-1">

    <!-- Big video -->
    <div *ngIf="mainView || participants.length > 12"
      class="d-flex justify-content-center align-items-center flex-grow-2 main-video-container"
      (click)="removeMainParticipant()">
      <video id="mainVideo" class="main-video mb-3 mt-3" autoplay playsinline
        [srcObject]="mainParticipant.stream"></video>
    </div>

    <!-- Video grid -->
    <div class="grid-content">
      <div *ngIf="!mainView" class="d-flex flex-sm-wrap video-grid">
        <app-participant style="width: 400px;" *ngFor="let participant of participants" [stream]="participant.stream"
          [userName]="participant.name" class="video-item" (setMainParticipant)="setMainParticipant(participant)"
          (detach)="detachParticipant(participant)" appResizable></app-participant>
      </div>

    </div>

    <!-- Scrollable bar -->
    <div *ngIf="mainView || participants.length > 12" class="video-bar">
      <div class="video-thumbnail" *ngFor="let participant of participants">
        <app-participant [stream]="participant.stream" (setMainParticipant)="setMainParticipant(participant)"
          [userName]="participant.name" (detach)="detachParticipant(participant)"></app-participant>
      </div>
    </div>

    <!-- Local video pinned at the bottom right -->
    <div class="local-video-container">
      <video id="localVideo" class="local-video" autoplay playsinline muted></video>
    </div>

    <app-video-options (startScreenShare)="startScreenShare()"
      (stopScreenShare)="stopScreenShare()" (videoToggle)="videoService.toggleLocalVideo()"
      (audioToggle)="videoService.toggleLocalAudio()" [roomName]="roomName"
      (showUsersPanel)="onSidebarToggle()" (leaveCall)="leaveCall()"></app-video-options>
  </div>

  <app-side-bar class="sidebar" [isSidebarCollapsed]="isSidebarCollapsed" (sidebarToggle)="onSidebarToggle()">
    <div class="chat-container">
      <div class="messages">
        <div *ngFor="let msg of messages">
          <p><strong>{{ msg.sender }}:</strong> {{ msg.message }}</p>
        </div>
      </div>

      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="msg-input">
        <input type="text" formControlName="message" placeholder="Type a message..." />
        <button type="submit" [disabled]="!messageForm.valid">Send</button>
      </form>
    </div>

  </app-side-bar>

</div>