video {
    width: 360px;
    background-color: black;
    padding: 10;
    margin: 1px 1px;
  }

  .meetroom-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100vh; /* Full screen */
    box-sizing: border-box;
    overflow: hidden;
  }
  app-participant {
    flex: 1 1 calc(25% - 10px); /* 3 videos per row by default */
    max-width: calc(25% - 10px); /* Prevents videos from growing too large */
    // aspect-ratio: 16 / 9; /* Keep aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Matches Discord's dark theme */
    border-radius: 5px;
  }
  @media (max-width: 1024px) {
    app-participant {
      flex: 1 1 calc(50% - 10px); /* 2 videos per row for smaller screens */
      max-width: calc(50% - 10px);
    }
  }
  
  @media (max-width: 768px) {
    app-participant {
      flex: 1 1 calc(100% - 10px); /* 1 video per row for very small screens */
      max-width: calc(100% - 10px);
    }
  }
    
  .local-video-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 120px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .local-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (min-width: 768px) {
    .local-video-container {
      width: 260px;
      height: 160px;
    }
  }
  
  @media (min-width: 1200px) {
    .local-video-container {
      width: 320px;
      height: 200px;
    }
  }
  